body {

}
.big{

  width: 800px;
  height: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: lightgrey ;
}
div.small{
  width: 300px;
  height: 500px;
  margin: 0 auto;
  background-color: #7ebafa;
  border-radius: 25px;
  text-align: center;


}
div.tit {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  margin-top: 0 auto;
  background-color: #5d6d7e ;
  color: white;

text-decoration-color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;

}

.bill{
  width: 150px;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}

.fedtax{
  width: 150px;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}
.statetax{
  width: 150px;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}
.form{
  padding-top: 20px;
  margin: 0 auto;
display: inline-block;
}
.taxc{
  width: 130px;
  height: 40px;
  border-radius: 4px;
}


div.logins{
  width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: #d7bde2;

  text-align: center;
  border-style: solid 1px;


}
.signin {
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin: 4px 2px;
   cursor: pointer;

}
.signup {
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin: 4px 2px;
   cursor: pointer;

}
.email{
  width: 150px;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.pass{
  width: 150px;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


div.lst {
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}























ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

li a:hover {
  background-color: #111;
}
